{% extends "layout.jinja2" %}
{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">로그인</h1>
    <p class="lead"></p>

    {% include "lib/flash.jinja2"%}

    <form method="post">
        <div class="mb-3">
            <label for="email" class="form-label"><i class="fa-solid fa-envelope me-1"></i> 이메일</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label"><i class="fa-solid fa-key me-1"></i> 비밀번호</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <button type="submit" class="btn btn-primary btn-lg"><i class="fa-solid fa-right-to-bracket me-1"></i> 로그인</button>
    </form>
</div>
{% endblock %}