{% extends "layout.jinja2" %}
{% block content %}
<div class="container-fluid px-4 mb-3">
    <h1 class="mt-4">비밀번호 설정</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/auth/login">로그인</a></li>
            <li class="breadcrumb-item active">비밀번호 설정</li>
        </ol>
    </nav>

    {% include "lib/flash.jinja2"%}
</div>

<div class="container-fluid px-4">
    <form method="post">
        <div class="mb-3">
            <label for="email" class="form-label"><i class="fa-solid fa-envelope me-1"></i> 이메일</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ email|e }}" readonly>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label"><i class="fa-solid fa-key me-1"></i> 비밀번호</label>
            <input type="password" class="form-control" id="password" name="password" minlength="12" required>
        </div>
        <div class="mb-3">
            <label for="password-check" class="form-label"><i class="fa-solid fa-user-lock me-1"></i> 비밀번호 확인</label>
            <input type="password" class="form-control" id="password-check" name="password-check" minlength="12" required>
        </div>

        <button type="submit" class="btn btn-primary btn-lg"><i class="fa-solid fa-right-to-bracket me-1"></i> 비밀번호 변경</button>
    </form>
</div>
{% endblock %}