{% extends "layout.jinja2" %}
{% block content %}
<div class="section">
    <div class="container">
        <h1 class="title is-1 has-text-centered">임시 비밀번호 설정</h1>
        <div class="columns is-centered">
            <div class="column is-one-third">
                <div class="content box">
                    <p>이메일(아이디): {{ email }}</p>
                    <p>임시 비밀번호 : {{ password }}</p>
                </div>
                <hr>
                <a class="button is-link is-medium is-fullwidth" href="{{ url_for('admin.user_list') }}#user-{{ user_id }}">뒤로 이동</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}