{% extends "layout.jinja2" %}
{% block content %}
<div class="container-fluid px-4 mb-5">
    <h1 class="mt-4">임시 비밀번호 설정 완료</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">계정 목록</li>
            <li class="breadcrumb-item"><a href="/admin/user-list#user-{{ user_id }}">임시 비밀번호 설정</a></li>
            <li class="breadcrumb-item active">임시 비밀번호 설정 완료</li>
        </ol>
    </nav>

    <div class="row row-cols-sm-1 row-cols-md-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="email" class="form-label"><i class="fas fa-envelope me-1"></i> 이메일</label>
                        <input id="email" class="form-control" value="{{ email|e }}" readonly>
                    </div>
                    <div>
                        <label for="password" class="form-label"><i class="fas fa-key me-1"></i> 비밀번호</label>
                        <input id="password" class="form-control" value="{{ password|e }}" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}