{% extends "layout.jinja2" %}
{% block content %}
<div class="section">
    <div class="container">
        <h1 class="title is-1 has-text-centered">배포 토큰 테스트</h1>
        <div class="box">
            <div class="field">
                <label class="label">프로젝트 이름</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="프로젝트 이름" id="x-deploy-name">
                    <span class="icon is-small is-left">
                        <i class="fas fa-file"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">배포 토큰</label>
                <div class="control has-icons-left">
                    <input class="input" type="password" placeholder="배포 토큰" id="x-deploy-token">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>
            <hr>
            <div class="buttons">
                <button class="button is-link is-fullwidth tk-test">테스트</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='token-test.js') }}"></script>
{% endblock %}